@font-face {
  font-family: 'Apercu';
  src: url('../fonts/Apercu-Light.otf') format('opentype');
  font-weight: 300;
  font-style: 300;
}

@font-face {
  font-family: 'Apercu';
  src: url('../fonts/Apercu.otf') format('opentype');
  font-weight: 400;
  font-style: 400;
}

@font-face {
  font-family: 'Apercu';
  src: url('../fonts/Apercu-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: 500;
}

@font-face {
  font-family: 'Apercu';
  src: url('../fonts/Apercu-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: 700;
}
